.hero {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
}

.hero img {
  max-width: 200px;
  max-height: 200px;
  float: left;
}

.left {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  font-size: 39px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.right h2 span {
  border-right: 1px solid white;
  margin-right: 14px;
  margin-left: 6px;
}

.right h3 {
  font-size: 21px;
  margin-top: 0px;
  letter-spacing: 0.6px;
}

.left div.image-wrapper {
  width: 75%;
  max-width: 441px;
  height: 95%;
  background-size: cover;
  background-position: 41%;
  border-radius: 8px;
}

@media screen and (max-width: 1410px) {
  .right h2 {
    font-size: 35px;
  }

  .right h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1272px) {
  .left div.image-wrapper {
    max-width: 381.61px;
  }
}
