.projects {
  flex-wrap: wrap;
  justify-content: center;
}

.projects-wrapper {
  flex-direction: column;
}

.image-frame {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 30px 60px 30px 0px;
  transition: all 0.15s ease-in;
  border-radius: 8px;
}

.image-frame:hover {
  transform: translateY(-5px);
}

.projects-filter-nav {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

.projects-filter-nav label {
  white-space: nowrap;
}

.projects-filter-nav-slider-underline {
  height: 2px;
  background: #1288ce;
  display: inline-block;
  position: absolute;
  left: -1.2%;
  bottom: 0;
}

.all-tab {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  width: 25px;
}

.react-tab {
  transform: translateX(128%);
  transition: transform 0.3s ease-out;
  width: 44px;
}

.fullstack-tab {
  transform: translateX(187.5%);
  transition: transform 0.3s ease-out;
  width: 70px;
}

.vanillaJS-tab {
  transform: translateX(315%);
  transition: transform 0.3s ease-out;
  width: 74px;
}

@media screen and (max-width: 845px) {
  h2.margin-auto {
    margin: 0 auto 33px;
  }
}
